
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<section class="no-pad login-page fullscreen-element">

	<div class="background-image-holder overlay">
		<img class="background-image" alt="Poster Image For Mobiles" src="img/black-girl-ventures-login-page2.jpg">
	</div>

	<div class="container align-vertical">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
				<h1 class="text-white">Become A Member</h1>
				<div class="photo-form-wrapper clearfix">
					<form>
						<input class="form-email" placeholder="First Name" type="text">
                        <input class="form-email" placeholder="Last Name" type="text">
                        <input class="form-email" placeholder="Business Name" type="text"><input class="form-email" placeholder="Website" type="text">
                        <input class="form-email" placeholder="Email Address" type="text">
						<input class="form-password" placeholder="Password" type="password">
						<input class="login-btn btn-filled" value="Login" type="submit">
					</form>
                </div>
			</div>
		</div>
	</div>
</section>
