body {
  margin: 30px;
}

.frontpage_square {
  position:relative;
  overflow:hidden;
  padding-bottom:50%;
  background: #3c3c3c;
}
.frontpage_square.career {
  background: #f2d254;
}
.frontpage_square.half {
  padding-bottom: calc(50% - 15px);
}

.frontpage_square.double {
  padding-bottom: calc(100% + 0px);
}

.frontpage_square img{
position:absolute;
}
.frontpage_padding {
    padding-right: calc(200% + 30px);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.feature-box-spacing {
    position: absolute !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    frontpage_square.double.reduce{
    // padding-bottom: none;   
    }
}